
/* User */
#layer1 .fill-586e75 {
  fill: $base1;
}

/* User to Int */
#path4798 {
  stroke: $base1;
}

#layer2 g {
  stroke: $base1;
  fill: $base1;
}

/* Internet */
#layer3 .fill-586e75 {
  fill: $base1;
}
/* Int to R53 */
#path4838 {
  stroke: $base1;
}

#layer4 g {
  stroke: $base1;
  fill: $base1;
}
/* R53 */
#layer7 .fill-586e75 {
  fill: $base1;
}
/* Int to CF */
#path4790 {
  stroke: $base1;
}

#layer10 g {
  stroke: $base1;
  fill: $base1;
}
/* CF */
#layer11 .fill-586e75 {
  fill: $base1;
}
/* CF / */
#layer12 .fill-586e75 {
  fill: $base1;
}
/* CF / to Lambda@Edge */
#path4814 {
  stroke: $base1;
}

#layer15 g {
  stroke: $base1;
  fill: $base1;
}
/* Lambda@Edge */
#layer17 .fill-586e75 {
  fill: $base1;
}


/* CF /s3 */
#layer14 .fill-586e75 {
  fill: $base1;
}


/* CF /s3 to to API */
#path4822 {
  stroke: $base1;
}

#layer19 g {
  stroke: $base1;
  fill: $base1;
}

/* s3 bucket */
#layer22 .fill-586e75 {
  fill: $base1;
}
