<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TXH6RJF');</script>
	<!-- End Google Tag Manager -->



  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%- title %> </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/infrasvg.css">


</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXH6RJF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row head-blocks">
      <div class="one-half column infra-block">
			<%= infrasvg %>
      <!--	<img src="/images/dscouk-infra-static.svg" class="infra-svg-0" width=100% style="padding: 0.5em;" /> -->
			</div>
      <div class="one-half column name-block">
        <div class="marg-10-top">
					<span><h1 class="name">Dan Sullivan</h1></span>
					<p class="typed-p"><span class="typed"></span></p>
				</div>
      </div>
    </div>
    <div class="row">
      <div class="two-thirds column thissite marginb">
        <h4>This Site</h4>
        Hitting <a href="http://dan-sullivan.co.uk">dan-sullivan.co.uk</a> triggers a Lambda@Edge function randomly redirecting you to variations of this page, served through different methods<br/><br />

        <%= thissite %>
        <br /><br />

       <a href="https://github.com/dan-sullivan/dan-sullivan.co.uk-public">Details on Github</a>
      </div>
      <div class="one-third column contact marginb">
        <h4>Contact</h4>
        <div><%= emailIconSvg %>
          <span><a href="mailto:dan@dan-sullivan.co.uk">Email</a></span></div>
        <div><%= linkedinIconSvg %>
          <span><a href="https://www.linkedin.com/in/daniel-sullivan-b74abb12b">LinkedIn</a></span></div>
        <div><%= githubIconSvg %>
          <span><a href="https://github.com/dan-sullivan">Github</a></span></div>
      </div>
    </div>  
  </div>

  <!-- Javascript Bundle - load after page
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="./js/bundle.min.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
